
/*============
  Main Style
============*/

*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  color: #ddd;
  background: #222;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.chooseToken {
  align-self: center;
  padding: 20px;
}
.gameBoard {
  width: 300px;
  margin: 0 auto;
}
.square {
  height: 100px;
  width: 100px;
  color: #222;
  background: #ddd;
}

/* Flexbox */
.wrapper {
  display: flex;
  flex-direction: column;
}
.gameBoard {
  display: flex;
  flex-wrap: wrap;
}


/*===============
  Media Queries
===============*/
@media screen and (min-width: 568px) {

 
}
@media screen and (min-width: 768px) {

 
}

@media screen and (min-width: 1024px) {

  
}