<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Zack Klinger, Web Developer, Portland, OR</title>
  <!-- load underscore -->
  <script src="bower_components/underscore/underscore.js"></script>
  <!-- load jQuery -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!-- link to Bootstrap js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- link to Bootstrap stylesheet -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- load AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="css/styles.css"/>
  <!-- Oxygen font -->
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>  <script src="app.js" type="application/javascript"></script> 
</head>
<body ng-app="ticTacToeApp">
  <div class="wrapper" ng-controller="MainController as vm">
    <header>
      <h1>Tic Tac Toe</h1>
    </header>
    <div class="input-group choose-token" ng-show="vm.ticTacToe._playerToken === ''">
      <label for="chooseToken">Choose token: </label><br>
      <div id="chooseToken" class="btn-group" data-toggle="buttons">
        <label class="btn btn-default" ng-click="vm.ticTacToe.setPlayerToken('X')">
          <input name="options" id="option1" type="radio"> X
        </label>
        <label class="btn btn-default" ng-click="vm.ticTacToe.setPlayerToken('O')">
          <input name="options" id="option2" type="radio"> O
        </label>
      </div>
    </div>
    <div class="score-board" ng-hide="vm.ticTacToe._playerToken === ''">
      <label for="scoreBoard">Player 1: </label><br>
      <div id="scoreBoard" ng-bind="vm.ticTacToe._playerToken"></div>
    </div>
    <div class="gameBoard">
      <div ng-repeat="column in vm.ticTacToe.gameBoard" class="column">
        <div class="square" ng-repeat="square in column" ng-click="vm.ticTacToe.winState||vm.ticTacToe.pickSquare(square)">
          {{ square.token }}
        </div>
      </div>
    </div>
    <div class="new-game">
      <div class="btn btn-primary" ng-show="vm.ticTacToe.winState" ng-click="vm.ticTacToe.newGame()">New Game</div>
    </div>
  </div>
</body>
</html>